<?xml version="1.0"?>
<config>
  <modules>
    <Efici_CustomerExtension>
      <version>0.0.9</version>
    </Efici_CustomerExtension>
  </modules>
  <frontend>
    <routers>
      <customerextension>
        <use>standard</use>
          <args>
            <module>Efici_CustomerExtension</module>
            <frontName>customerextension</frontName>
          </args>
      </customerextension>
    </routers>
		<layout>
		  <updates>
			<customerextension>
			  <file>customerextension.xml</file>
			</customerextension>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <customerextension>
        <class>Efici_CustomerExtension_Helper</class>
      </customerextension>
    </helpers>
	<blocks>
	  <customerextension>
		<class>Efici_CustomerExtension_Block</class>
	  </customerextension>
	</blocks>
	<models>
	  <customerextension>
		<class>Efici_CustomerExtension_Model</class>
		<resourceModel>customerextension_mysql4</resourceModel>
	  </customerextension>
	</models>
	<resources>
	  <customerextension_setup>
		<setup>
		  <module>Efici_CustomerExtension</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerextension_setup>
	  <customerextension_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerextension_write>
	  <customerextension_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerextension_read>
	  <customerattribute1366215990_setup>
		<setup>
		  <module>Efici_CustomerExtension</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1366215990_setup>
	  <customerattribute1366215990_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1366215990_write>
	  <customerattribute1366215990_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1366215990_read>
	</resources>
  </global>
</config> 